{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-onix-digital.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

TemplateMo 565 Onix Digital

https://templatemo.com/tm-565-onix-digital

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16" style="color:black">
                <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
              </svg>            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
            {% if request.session.admin %}
              <li class="scroll-to-section"><a href="index" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="viewuser">View user</a></li>
              <li class="scroll-to-section"><a href="adminprofile">View profile</a></li>
              <li class="scroll-to-section"><div class="main-red-button-hover"><a href="logout">Logout</a></div></li>
              
              
            {% elif request.session.uid %}
              <li class="scroll-to-section"><a href="index" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="viewcontact">View contact</a></li>
              <li class="scroll-to-section"><a href="viewprofile">View profile</a></li>
              <li class="scroll-to-section"><a href="usercontact">Add contact</a></li>
              <li class="scroll-to-section"><div class="main-red-button-hover"><a href="logout">Logout</a></div></li>

              

            {% else %}
              <li class="scroll-to-section"><a href="index" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="userreg">Register</a></li>
              <li class="scroll-to-section"><div class="main-red-button-hover"><a href="userlogin">Login</a></div></li>
            {% endif %}
              
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  {% endblock %}